:root {
  --error: #ee5a24;
  --logo-light: #fff;
  --logo-dark: #0e3448;
  --logo-green: #3fdad2;
  --light: #c6dae7;
  --primary: #1289a7;
  --dark: #081a1f;
  --accent: #2c3e50;
  --text: #333;
  --divider: #ecf0f1;
  --hint: #95a5a6;
  --font-family: "Mulish", sans-serif;
  --box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 1px 3px 1px rgba(60, 64, 67, 0.15);
}
